.contentBox {
  background-color: var(--second-grey);
  border-radius: 1rem;
  color: var(--main-purple);
  width: 100%;
  height: auto;
  overflow: auto;
}

.contentBoxInner {
  padding: 1rem;
  height: 100%;
}

.contentBox::-webkit-scrollbar {
  width: 1rem;
}

.contentBox::-webkit-scrollbar-track {
  background: transparent;  
}

.contentBox::-webkit-scrollbar-thumb {
  background-color: var(--main-grey);    
  border-radius: 10rem;    
  background-clip: content-box;
}

