@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

:root {
  --main-white: #ffffff;
  --main-purple: #2b2e61;
  --main-yellow: #fec400;
  --main-blue: #184c92;
  --main-grey: #d5d5d5;
  --second-purple: #5d30c1;
  --second-grey: #e7e9ef;
  --third-grey: #dddee1;

  --font-black: #292929;

  --light-blue: #f6f7fb;
}

.App {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 1rem;
}

.main-content {
  padding: 0 3rem;
  height: 100%;
  min-height: 100vh;
  background-color: var(--light-blue);
  border-radius: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
