.createSet {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
  font-size: 2rem;
}

.createSetHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.createSetDescription {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}

.createSetDescriptionInner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}

.createSetPlaceAndSubject {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}