.sideBar {
  padding: 1rem;
  background-color: var(--second-grey);
  border-radius: 1rem;
  color: var(--main-purple);
  width: 100%;
  height: 100%;
  max-width: 30rem;
}

.sideBarInner {
  display: flex;
  flex-direction: column;
}
